* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c0c0bd;
}

section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

footer {
    flex: 1;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
}

a {
    text-decoration: none;
    color: #fffffc;
}

a:hover {
    color: #c5c5c4;
}

button {
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 90px;
    border: none;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0;
}

section .case {
    height: fit-content;
    width: fit-content;
    padding: 25px;
    background-color: #313131;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: none;
}

.operations {
    background-color: orange;
}

.operations:hover,
.num:hover,
.switch:hover {
    font-weight: bolder;
}

.switch {
    background-color: #a0a09d;
    width: 160px;
    color: #fffffc;
}

.zero {
    width: 206px;
}

.case .screen,
.case .first-row,
.case .second-row,
.case .third-row,
.case .fourth-row,
.case .fifth-row {
    min-width: 450px;
    border-radius: 25px;
}

.screen {
    max-width: fit-content;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fffffc;
    font-size: 75px;
}

.case .first-row,
.case .second-row,
.case .third-row,
.case .fourth-row,
.case .fifth-row{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .github-logo {
    height: 25px;
    width: 25px;
    filter: invert(90%);
    margin-left: 5px;
}

footer .text {
    color: #fffffc;
}